.header {
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh; 
}

.logoHeader {
  display: flex;
  width: 25vw;
  justify-content: space-evenly;
  align-items: center;

  img {
    width: 20%; 
  }

  h1 {
    font-size: 25px;
    color: #fff;
  }
}

.navHeader {
  width: 30%;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  .link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
}

.barraDeBusca {
  border: solid 2px #fff;
  border-radius: 15px;
  margin-right: 1%;
  width: 20%;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  input {
    background-color: transparent;
    border: none;
    width: 12vw;
    height: 5vh;
    outline: none;
    color: #fff;
    font-size: 15px;
    padding-left: 6px;

    &::placeholder {
      color: #fff;
      font-size: 15px;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 1168px) {
  .logoHeader {
    width: 30vw; // Ajustado para telas menores
    h1 {
      font-size: 2vw;
    }
    img {
      width: 5vw;
    }
  }

  .barraDeBusca input::placeholder {
    font-size: 1vw; // Redução proporcional
  }
  .navHeader{
    ul{
      font-size: 1.6vw;
    }
  }
}

@media(max-width: 780px){
  header{
    flex-direction: column;
    height: 25vh;
    justify-content: space-evenly;
  }

  .barraDeBusca{
    display: none;
  }
  .logoHeader{
    width: 80%;
    h1{
      font-size: 25px;
    }
    img{
      width: 70px;
    }
  }
  .boxMenu{
    width: 100%;
    ul{
      justify-content: space-between;
      
    }
  }
}

