footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 30vh;
}

.boxSocial {
    background-color: #005695;
    ;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: antiquewhite;
    padding: 0 50px;

        nav {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px; 
        }
}

.boxEnd {
    background-color: rgb(54, 52, 52);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    padding: 10px 0;
}
